version: 2.2.0.{build}

shallow_clone: true

image: Visual Studio 2017

platform: x64

install:
  - 'C:\cygwin64\setup-x86_64.exe -d -n -N -q -P m4,make,patch,tar,wget'
  - cd msvc
  - 'C:\cygwin64\bin\bash -l "cp config.mk.x86-64 config.mk && make"'

build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
  - cd msvc && msbuild all.proj
