language: cpp
compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq libtool bison flex
  - cd posix && make -s

script: make check # in posix
